{% extends "base.html" %}
{% block content %}
<main class="container">
    <br>
    <div class="row g-5">
        <div class="col-md-8">
            <h1>{{ page.title }}</h1>
            {{ page.content }}
        </div>
        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                {% if ABOUT %}
                <div class="p-4 mb-3 bg-light rounded text-center">
                    {% if GRAVATAR %}
                    <img src="{{ GRAVATAR }}?s=150" class="rounded-circle shadow-4 mb-3" style="width: 150px;" alt="Avatar" />
                    {% endif %}
                    <h5 class="mb-3"><strong>{{ AUTHOR }}</strong></h5>
                    <p class="text-muted">{{ ABOUT }}</p>
                    {% if SOCIAL %}
                    <ul class="mb-3 nav justify-content-center list-unstyled d-flex">
                        {% for name, url in SOCIAL %}
                        <li class="ms-3"><a href="{{ url }}" class="text-muted"><i class="fa fa-{{ name }}"></i></a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% endif %}
                
                <div class="p-4">
                    <h4 class="fst-italic">Links</h4>
                    <ol class="list-unstyled">
                    {% if LINKS %}
                    {% for name, url in LINKS %}
                    <li class="text-capitalize"><a href="{{url}}">{{name}}</a></li>
                    {% endfor %}
                    {% endif %}
                    <li><a href="{{ SITEURL }}/archives.html">Archives</a></li>
                    <li><a href="{{ SITEURL }}/tags.html">Tags</a></li>
                    </ol>
                {% if SOCIAL %}
                    <h4 class="fst-italic">Socials</h4>
                    <ol class="list-unstyled">
                    {% for name, url in SOCIAL %}
                    <li class="text-capitalize"><a href="{{url}}">{{name}}</a></li>
                    {% endfor %}
                    </ol>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}